// ==========================================================================
// Heading
// ==========================================================================

.heading {
	padding-top: em(90px);
	text-transform: capitalize;
	@extend %center-align;
	
	@include e(hdln) {
		@include m("" + white) {
			color: $white;
		}
		@include m(lg-white) {
			color: $white;
			font-size: em(50px);
		}
	}

	@include e(desc) {
		@extend %heading-desc;

		@include m("" + yellow) {
			color: $broom;
			font-size: em(27px);
			font-weight: $font-weight--bold;
			line-height:1.5;
			margin-top: em(5px);
			margin-bottom: 25px;
		}
		@include m("" + white) {
			@extend %heading-desc;
			color: $white;
		}
	}
}