// ==========================================================================
// Icons
// ==========================================================================

// Logo

.site-logo {
	@include img-replace("logo.png", 216px, 39px, inline-block);
}

// UI

.icn {

	// Nav Toggle
	@include m(nav-toggle) {
		@extend %icn--ui;
		width: 25px;
		height: 17px;
		margin: auto;
		border-top: solid 3px $gray;
		border-bottom: solid 3px $gray;
		position: relative;
		@include p-el(before, 25px, 3px) {
			background: $gray;
			top: 4px;
		}
	}
}