// ==========================================================================
// Buttons
// ==========================================================================

.btn {
  @extend %btn;
	@include bg-colors($ui-colors);
  
  @include m(lg) {
    width: 211px;
  }
  
  @include m(sm) {
    width: 119px;
  }
}

[class^="btn--"] {
  @extend %center-align;
  @extend %btn;
  margin-bottom: em(20px, 14px); 
  @include mq(small) {
    width: 100%;
  }
  @include mq(medium) { 
    width: auto;
    display: inline-block;
  }
}