// ==========================================================================
// Placeholders
// ==========================================================================

// Nav Items

%nav-item-horz {
  @include mq(medium) {
    display: inline-block;
    margin: 0 em(12px);
  }
}

%nav-item-link {
    color: $color-secondary;
    font-weight: $font-weight--bold;
    text-align: center;
    font-size: em(14px);
    display: block;
    padding: em(0px, 14px);
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
  @include mq(small) {
    padding-top: em(14px, 18px);
    padding-bottom: em(14px, 18px);
  }
}
%nav-item-btn {
  color: $white;
  background: $color-primary;
  border-radius: $br--default;
  padding: em(10px) em(27px);
  font-weight: $font-weight--light;
   &:hover {
    opacity: .75;
  }
  &:active {
    opacity: initial;
  }
}
%nav-item-on {
  color: $black;
  border-color: $color-primary;
}

// Headlines

%hdln-prim {
  color: $dark-grey;
  font-weight: $font-weight--light;
  font-size: em(40px);
  line-height: 100%;
  margin: 0;
}
%hdln-sec {
  color: $dark-grey;
  letter-spacing: $letter-space;
  font-weight: $font-weight--thin;
  font-size: em(24px);
  font-family: $font-family--secondary;
}

// Buttons

%btn {
  border: 0;
  border-radius: $br--default;
  color: $white;
  text-transform: uppercase;
  font-size: em(20px);
  font-weight: $font-weight--light;
  transition: opacity $trns-duration;
  padding: em(11px) em(0px);
  &:hover {
    opacity: .75;
  }
  &:active {
    opacity: initial;
  }
}

// Heading 

%heading-desc {
  font-size: em(18px);
  margin-top: em(15px);
  margin-bottom: em(30px);
}


// Icons

%icn--ui {
	line-height: 0;
	cursor: pointer;
}

// Feature

%feature {
  width:100%;
  display:flex;
  flex-wrap:nowrap;
  margin-bottom:15px;
}

%feature-title {
  display:block;
  font-size: em(18px);
  font-weight: $font-weight--bold;
  text-transform: capitalize; 
}

%feature-icon {
  background:$gray-lightest;
  border-radius:$br--round;
  min-width: em(89px);
  width: em(89px);
  height: em(89px);
  text-align: center;
  margin-right: em(20px);
  padding-top: em(20px);
}

// Plan 

%plan {
  max-width: 100%;
}

%plan-heading {
  font-weight: $font-weight--light;
  padding: em(25px) em(35px);
  color:$white;
  border-radius: $br--top;
  text-transform:capitalize;
  font-size: em(16px);
  h1 {
    color:$white;
  }
}

%plan-body {
  padding: em(20px) em(35px);
  font-size: em(18px);
  background:$white;
  ul  {
    li {
      padding: 10px 0;
      text-transform:capitalize;
      @include img-replace("divider.png", 100%, auto, inline-block, bottom, 100%);
    }
  }
}

%plan-footer {
  background:$white;
  border-radius: $br--btm;
  padding-right: em(45px);
  padding-left: em(45px);
  padding-bottom: em(20px);
}

// Special plan

%special-plan {
  background:$white;
  margin-top: em(30px);
  border-top:6px solid $color-primary;
  border-radius:$br--default;
  display:flex;
  flex-wrap:wrap;
  padding-bottom:10px;
}

%special-plan-content {
  max-width:870px;
  padding:0 em(50px); 
  h2 {
    color: $color-secondary;
    font-weight:$font-weight--bold;
    margin-bottom:0;
  } 
  span {
    font-weight:$font-weight--light;
    color:$gray;
  }
}
%special-plan-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width:250px;
  margin:auto;
  

  
}

// Testimonial 

%testimonial {
  border-radius: $br--default;
  background: #f4f4f4;
  padding-bottom: em(20px);
}

%testimonial-img {
  border-radius: $br--top;
  border-bottom:4px solid $color-primary;
  width:100%;
  max-height:210px;
  overflow:hidden;
  display: flex;
  img {
    width:100%;
    height:100%;
    align-self: center;
    margin:0;
  }
}

%testimonial-title {
  font-size: em(18px);
  margin-top: em(25px);
  margin-bottom: em(5px);
  padding: 0 em(20px);
  font-weight: $font-weight--bold;
}

%testimonial-subtitle {
  margin-bottom: em(5px);
  padding: 0 em(20px);
  font-weight: $font-weight--bold;
  color: $color-primary;
}

%testimonial-excerpt {
  font-size: em(13px);
  padding: em(20px);
  position:relative;
  text-indent: em(37px);
  &:before {
    content:"“";
    text-indent: em(-9px);
    font-size: em(60px);
    position: absolute;
    top: 0;
    color:#e0e0e0;
  }

  &:after {
    content:"”";
    font-size: em(60px);
    position: absolute;
    bottom: em(-12px);
    color:#e0e0e0;
  }
}

// Brand

%brand {
  border:1px solid $grey-light;
  width:170px;
  height:116px;
  display: flex;
  align-items: center;
  justify-content: center;
}

// map 

%map-block-map {
  border-radius: $br--default;
  position:relative;
  top: em(40px);
  right: 0;
  width: 570px;
  max-width:100%;
  height: 290px;
  margin: auto;
}

%map-block-address {
  color:$white;
  position: absolute;
  top: 330px;
  @include mq(small) {
    left: em(80px);
  }
}
