// ==========================================================================
// Heading
// ==========================================================================

.heading {
	padding-top: em(90px);
	text-transform: capitalize;
	@extend %center-align;
	
	@include e(hdln) {
		@include m("" + white) {
			color: $white;
			font-size: em(50px);
		}
	}

	@include e(desc) {
		@include m("" + yellow) {
			color: $broom;
			font-size: em(27px);
			font-weight: $font-weight--bold;
		}
	}
}